<div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center bg-light">
<%= form_for [:admin, teacher] do |f| %>
  <%= render "admin/shared/error", model: teacher %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :fatherName %><br />
    <%= f.text_field :father_name, autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :phonenumber %><br />
    <%= f.telephone_field :phone_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

    <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :DOB %><br />
    <%= f.date_field :dob %>
  </div>

  <div class="field">
    <%= label_tag :Expertise %><br />
    <%=select_tag :course_ids,options_from_collection_for_select(Course.all,:id,:name), {:multiple=>true}%>
  </div>

  <div class="actions">
    <%= f.submit "Add" %>
  </div>
  <%= link_to "Cancel",admin_teachers_path,class: "btn btn-outline-success" %>
<% end %>
</div>