

<%= turbo_frame_tag 'main' do %>

<%= stylesheet_link_tag "student", "data-turbo-track": "reload" %>


  

     <center>
     <body>
    <h1>Students</h1>

    
    
    <div>
    

    </div>
    <div>
      <p>
      
      <%= link_to "Add Student", new_admin_student_path,class:"btn btn-primary",
            style:"background-color:#6f42c1; border-color:#6f42c1;
                   color:white; padding:0.6rem 2rem; border-radius:50rem;
                   font-weight:600; border:none;" %>
      </p>
    </div>

</center>


  <table align="center" id="enrollment" border="3" layout= "fixed" width="100%" data-count=<%= @students.count %>">

  <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Batch</th>
      <th>Current Semester</th>
      <th>Edit</th>
      <th>Delete</th>
  </tr>
  <% @students.each do |student| %>
      <tr>
          <td><%= student.id %></td>
          <td><%=link_to student.name, admin_student_path(student)%></td>
          <td><%= student.email%></td>
          <td><%= student.batch_id%></td>
          <td><%= student.student_semesters.last.semester.semester_number%></td>
          <td><%= link_to 'Edit', edit_admin_student_path(student), class: "btn btn-outline-info" %></td>
          <td><%= link_to "Delete", admin_student_path(student), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    }, class: "btn btn-outline-info" %></td>
        </a>
      </tr>
  <% end %>
  </table>
  </div>
<% end %>
</body>