
<div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center bg-light">
<%= form_for [:admin, section] do |f| %>
    <%= render "admin/shared/error", model: section %>
    <div class="field">
        <%= f.label :course %><br />
        <%= f.select :course_id, options_from_collection_for_select(Course.all, :id, :name),prompt: "Select an option"%>
    </div>

    <div class="field">
        <%= f.label :teacher %><br />
        <%= f.select :teacher_id, options_from_collection_for_select(Teacher.all, :id, :name),prompt: "Select an option"%>
    </div>

    <div class="field">
        <%= f.label :semester %><br />
        <%= f.select :semester_id, options_for_select(Semester.all.map {|item| ["#{item.semester_number} - #{item.semester_type}", item.id]}) %>
    </div>

    <div class="field">
        <%= f.label :sectionname %><br />
        <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="actions">
        <%= f.submit "Add" %>
    </div>
    <%= link_to "Cancel",admin_dashboard_index_path,class: "btn btn-outline-info" %>

<% end %>
</div>
