<div class="container-fluid w-50 border rounded shadow mt-5 p-4 text-center bg-light">
    <%= form_for [:admin, section] do |f| %>
      <%= render "admin/shared/error", model: section %>
  
      <div class="mb-3 row">
        <%= f.label :course, class: "col-12 form-label" %><br />
        <%= f.select :course_id, options_from_collection_for_select(Course.all, :id, :name), prompt: "Select an option", class: "col-12 form-select" %>
      </div>
  
      <div class="mb-3 row">
        <%= f.label :teacher, class: "col-12 form-label" %><br />
        <%= f.select :teacher_id, options_from_collection_for_select(Teacher.all, :id, :name), prompt: "Select an option", class: "col-12 form-select" %>
      </div>
  
      <div class="mb-3 row">
        <%= f.label :semester, class: "col-12 form-label" %><br />
        <%= f.select :semester_id, options_for_select(Semester.all.map { |item| ["#{item.semester_number} - #{item.semester_type}", item.id] }), class: "col-12 form-select" %>
      </div>
  
      <div class="mb-3">
        <%= f.label :section_name, class: "form-label" %><br />
        <%= f.text_field :name, class: "form-control", autofocus: true %>
      </div>
  
      <div class="mb-3">
        <%= f.submit "Add", class: "btn btn-primary" %>
        <%= link_to "Cancel", admin_dashboard_index_path, class: "btn btn-outline-info" %>
      </div>
  
    <% end %>
  </div>
  