<div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center bg-light">
<h1>Profile</h1>
<p>ID: <%= current_teacher.id %></p>
<p>Name: <%= current_teacher.name %></p>
<p>FatherName: <%= current_teacher.father_name %></p>
<p>Email: <%= current_teacher.email %></h1>
<p>PhoneNumber: <%= current_teacher.phone_number %></p>
<p>Date of Birth: <%= current_teacher.dob %></p>
<p>Address: <%= current_teacher.address %></p>
<% current_teacher.courses.each do |t| %>
    <tr>
        <td><%= t.name %>,</td>
    </tr>
<% end %>
<%= link_to "Back", teacher_root_path %></br>                   
</div>