<div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center bg-light">
<%= form_for [:admin, enrollment] do |f| %>
  <%= render "admin/shared/error", model: enrollment %>

  <div class="field">
    <%= label_tag :students %><br />
    <%= f.select :student_id, options_from_collection_for_select(Student.all, :id, :name) %>
  </div>

  <div class="field">
    <%= label_tag :teachername %><br />
    <%=select_tag :teacher_id,options_from_collection_for_select(Teacher.all,:id,:name), {:multiple=>true}%>
  </div>

  <div class="field">
      <%= f.label :course %><br />
      <%= f.select :section_id, options_for_select(Section.all.map {|item| ["#{item.course.name} - #{item.name}", item.id]}) %>
  </div>

  <div class="field">
    <%= f.label :grade %><br />
    <%= f.collection_select :grade_id, Grade.all, :id, :letter, {selected: enrollment.grade.id }%>
    </div>

  <div class="actions">
    <%= f.submit "Add Enrollment" %>
  </div>
  <%= link_to "Cancel",admin_enrollments_path,class: "btn btn-outline-success" %>
<% end %>
</div>