<div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center bg-light">
<%= form_for [:admin, course] do |f| %>
  <%= render "admin/shared/error", model: course %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :coursecode %><br />
    <%= f.text_field :coursecode, autofocus: true%>
  </div>

  <div class="actions">
    <%= f.submit "Add" %>
  </div>
  <%= link_to "Cancel",admin_courses_path,class: "btn btn-outline-success"  %>
<% end %>
</div>