<%= turbo_frame_tag 'main' do %>
  <%= stylesheet_link_tag "course", "data-turbo-track": "reload" %>

  <section class="course-admin">
    <div class="course-admin__shell">
      <header class="course-admin__header">
        <div>
          <p class="course-admin__eyebrow">Admin Management</p>
          <h1 class="course-admin__title">Courses</h1>
          <p class="course-admin__subtitle">
            Organize, edit, and maintain your course catalog from one place.
          </p>
        </div>
        <div class="course-admin__toolbar">
          <span class="course-admin__count"><%= pluralize(@courses.count, "Course") %></span>
          <%= link_to "Add Course", new_admin_course_path, class: "course-admin__add-button" %>
        </div>
      </header>

      <div class="course-admin__table-wrapper">
        <table class="course-admin__table" aria-label="Courses table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Course Code</th>
              <th scope="col" class="course-admin__action-head">Edit</th>
              <th scope="col" class="course-admin__action-head">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% if @courses.any? %>
              <% @courses.each do |c| %>
                <tr>
                  <td data-label="Name">
                    <span class="course-admin__name"><%= c.name %></span>
                  </td>
                  <td data-label="Course Code">
                    <span class="course-admin__code"><%= c.coursecode %></span>
                  </td>
                  <td data-label="Edit" class="course-admin__action-cell">
                    <%= link_to "Edit",
                        edit_admin_course_path(c),
                        class: "course-admin__action-button course-admin__action-button--edit" %>
                  </td>
                  <td data-label="Delete" class="course-admin__action-cell">
                    <%= link_to "Delete",
                        admin_course_path(c),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                        class: "course-admin__action-button course-admin__action-button--delete" %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="4">
                  <div class="course-admin__empty">
                    No courses available yet. Add your first course to get started.
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
<% end %>
