<!DOCTYPE html>
<html>
  <head>
    <title>LMS - Student</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="app-shell">
    <%= render 'shared/header' %>
    <main class="app-main">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
